body {
	font-family: 'Open-sans', serif, 'Helvetica';
	line-height: 1.8rem;
	letter-spacing: 0.18rem;
}

p,
a {
	font-size: 20px;
}
img {
	width: 100%;
}

.navbar {
	background-color: #202020;
	padding: 0;
}
.nav-link:hover {
	color: #d9534f !important;
}
.showcase {
	width: 100%;
	height: 350px;
	background-image: url('/marvel-banner.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-color: #000;
	border-top: #d9534f solid 2px;
}

.char-grid-container .card {
	color: #fff;
	background-color: #202020;
}

.char-grid-container .card:hover {
	color: #000;
	background-color: #e62429;
}

.char-grid-container .char-name {
	border-bottom: 5px #e62429 solid;
	min-height: 200px;
	max-height: 200px;
	z-index: 1;
}

.char-grid-container .card-img {
	overflow: hidden;
	max-height: 350px;
	z-index: 1;
}

.char-grid-container .card-body {
	/* margin-top: -300px; */
	background: #202020;
	border-top: 5px #e62429 solid;
	/* height: 100px; */
}
